.bg-img {
  /* Set background image */
  background-image: url('./assets/sunny-bg.jpg');
  /* Specify background size */
  background-size: cover; /* Cover the entire container */
  /* Specify background position */
  background-position: center; /* Center the background image */
  /* Specify background repeat */
  background-repeat:repeat; /* Do not repeat the background image */
  /* Set height for demonstration */
  background-attachment: fixed;
  overflow: auto;
  height: 100vh;
  width: 100vw;
}
.height-row{
  height: 15vh;
}
.current-Size{
  width: 300px ;
  height: 400px;
}
.bg-color{
  background-color: rgba(88, 85, 85, 0.4);
}
.size {
  width: 100px ;
  height: 75px;
}
#condition{
  font-size: x-large;
  color: white;
}
p{
  color: white;
}
#city{
  font-size: xx-large;
}
span{
  font-style: oblique;
  font-size: large;
}